body {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.pics {
    border-radius: 50%;
    width: 42%;
    height: 42%;
    position: relative;
}

h1{
	font-family: 'Playball', cursive;
}

#aboutus{
	font-size: 30px;
	text-align: center;
}