
body {
	background: linear-gradient(#090808,#3942DE);
	font-family: sans-serif;
}

h1 {
	text-align: center;
    text-decoration: underline;
    color:white;
    font-size: 300%;
    font-family: Snell Roundhand, cursive;
    text-shadow: 2px 2px 5px blue;
    font-stretch: extra-expanded;



}

div {
    text-align: center;
    position:fixed;
    color:#F75451;
    font-size: 20px;
    
}


#companyinfo{
text-align:center;
margin-top: 100px;
margin-bottom: 50px;
margin-right: 300px;
margin-left: 300px;

}

.homepictures{
border-radius: 8px;

}


/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
}*/