
body {
	background: linear-gradient(#C5DBE5,#3942DE);
	font-family: sans-serif;
}

#title{
	text-align: center;
    color:black;
    font-size: 300%;
   
    text-shadow: 2px 2px 5px #C5DBE5;
    font-stretch: extra-expanded;
    font-family: 'Playball', cursive;
    vertical-align: middle;
    display:relative;



}

div {
    text-align: center;
    position:relative;
    color:#FFFFFF;
    font-size: 20px;
    
}

#logo{
    
    

}

#companyinfo{
text-align:center;
margin-top: 100px;
margin-bottom: 50px;
margin-right: 300px;
margin-left: 300px;

}

.homepictures{
border-radius: 8px;

}

#button {
  -moz-box-shadow: 0px 1px 50px 14px #9fb4f2;
  -webkit-box-shadow: 0px 1px 50px 14px #9fb4f2;
  box-shadow: 0px 1px 50px 14px #9fb4f2;
  background-color:#3942DE;
  -moz-border-radius:17px;
  -webkit-border-radius:17px;
  border-radius:17px;
  border:1px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#3942DE;
  font-family:Arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966;
  
}


/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
}*/