.buttonholder {
	text-align: center;
}

#giffy {
	display: block;
	margin: 0 auto;
}
#add {
  -moz-box-shadow: 0px 1px 50px 14px #9fb4f2;
  -webkit-box-shadow: 0px 1px 50px 14px #9fb4f2;
  box-shadow: 0px 1px 50px 14px #9fb4f2;
  background-color: grey;
  -moz-border-radius:17px;
  -webkit-border-radius:17px;
  border-radius:17px;
  border:1px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966;
}

#view {
  -moz-box-shadow: 0px 1px 50px 14px #9fb4f2;
  -webkit-box-shadow: 0px 1px 50px 14px #9fb4f2;
  box-shadow: 0px 1px 50px 14px #9fb4f2;
  background-color: grey;
  -moz-border-radius:17px;
  -webkit-border-radius:17px;
  border-radius:17px;
  border:1px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966;
}

h1 {
	text-align: center;
    color:black;
    font-size: 300%;
    font-family: Snell Roundhand, cursive;
    text-shadow: 2px 2px 5px blue;
    font-stretch: extra-expanded;
    font-family: 'Playball', cursive;
    vertical-align: middle;
    display:relative;
}

#logo {
	position: absolute;
    top: -75px;
    left: 16px;
    font-size: 18px;
}
body {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.pics {
    border-radius: 50%;
    width: 42%;
    height: 42%;
    position: relative;
}

#chris {
    width: 200px;
    height: 175px;
}

h1{
	font-family: 'Playball', cursive;
}

#aboutus{
	font-size: 30px;
	text-align: center;
}


/*#add{
	text-align: center; 
}*/