<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="resources/home.css">
<link rel="stylesheet" type="text/css" href="resources/aboutus.css">

<title>About Us</title>

<h1>About Us</h1>

<body>
    <img id="chris" class="pics" src="resources/waiting.jpg">
    <p>Chris Waters is an incoming freshman at the prestigous Howard University from Erial, New Jersey. He plans on majoring in Computer Science with a concentration in Cyber Security. He is apart of ROTC.</p>
    <img id="sav" class="pics" src="resources/savannah.jpg">
    <p>Savannah Evans is an incoming freshman at Hampton University from Savannah, Georgia. She will be cheering for at Hampton in the fall. She will be majoring in Copmputer Science and minoring in Film.</p>
    <img id="tt" class="pics" src="resources/tanea.jpg">
    <p>Tanea Taylor is an incoming freshman at the prestigous Howard University from St.Louis, Missouri. She plans on majoring in Computer Science and plans on obtaining her masters degree from Howard as well.</p>
</body>