<link rel="stylesheet" type="text/css" href="home_handler">

<h1>Just Like Home</h1>

{{ html_comments }}

<div class="tab">
  <button class="tablinks" onclick="openH(event, 'Home')">Home</button>
  <button class="tablinks" onclick="openH(event, 'Add/Create Registry')">Add/Create Registry</button>
  <button class="tablinks" onclick="openH(event, 'View Registry')">View Registry</button>
  <button class="tablinks" onclick="openH(event, 'Items Recieved')">Items Recieved</button>
  <button class="tablinks" onclick="openH(event, 'About Us')">About Us</button>
</div>

<div id="Home" class="tabcontent">
</div>

<div id="Add/Create Registry" class="tabcontent">
</div>

<div id="View" class="tabcontent">
</div>

<div id="Items Recieved" class="tabcontent">
</div>

<div id="About Us" class="tabcontent">
</div>

<br>
<p> Stuff about us</p>

<form method="POST">
    <textarea name="form_contents" placeholder="stuff about us"></textarea>
    
</form>

<form method="POST">
    <textarea> stuff about us></textarea>
    
</form>