<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="resources/style.css">
</head>
<body>
<h1> Create Student Profile!</h1>
{{ content }}
{{ html_foobar }}
<form method="POST">
    <p>What is your name?</p>
    <input name="form_name"></input>
    <p> What is your Gender?</p>
    <input name="form_name"></input>
    <input type="radio" name="gender" value="male" checked> Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
    <input type="radio" name="gender" value="other"> Other


</form>








</body>
</html>