<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="resources/style.css">
</head>
<body>
<h1> Create Student Profile!</h1>
{{ content }}
{{ html_foobar }}
<form method="POST">
    <p>What is your name?</p>
    <input name="form_name"></input>
    
    <p>How old are you?</p>
    <input name="form_name"></input>

    <p> What is your Gender?</p>
    <input type="radio" name="gender" value="male" checked> Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
    <input type="radio" name="gender" value="other"> Other

    <p>What School are you attending?</p>
    <input name="form_name"></input>

    <p> What is your Year Classification?</p>
    <input type="radio" name="year" value="Freshman" checked> Freshman<br>
    <input type="radio" name="year" value="Sophmore"> Sophmore<br>
    <input type="radio" name="year" value="Junior"> Junior<br>
    <input type="radio" name="year" value="Senior"> Senior
    <br>
    <br>
    <br>
    <input type="submit"/>
    

    


</form>








</body>
</html>