<!DOCTYPE html>
<html>
<head>
    <title>New Registry</title>
    <link rel="stylesheet" type="text/css" href="resources/home.css">
    <link rel="stylesheet" type="text/css" href="resources/homewmenu.css">
<!--     <link rel="stylesheet" type="text/css" href="resources/newregistry.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Playball" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="resources/subthx.css">
</head>
<img id="logo" src="resources/logo.png">
<h1>Just Like Home</h1>
<ul>
  <li><a class="active" href="/home">Home</a></li>
  <li><a href="/newregistry">Add/Create Registry</a></li>
  <li><a href="/view">View Registry</a></li>
  <li><a href="/recieved">Items Recieved</a></li>
  <li><a href="/aboutus">About Us</a></li>
</ul>
<body>
<h1> Student Registry</h1>
<h2> Hello {{ user_name }} </h2>
<p> Add an item plus a description then press submit to add another item! </p>



{{ html_item }}



<form method="POST">
	<p>Enter Item(placeholder)</p>
    <input name="form_item"></input>
	<br/>
	<br/>
	<textarea name="form_contents" placeholder="Description of item here..."></textarea>
	<br/>
	<input type="submit"/>
</form>








</body>
</html>