<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="resources/home.css">
<link rel="stylesheet" type="text/css" href="resources/subthx.css">
<link rel="stylesheet" type="text/css" href="resources/homewmenu.css">
<link href="https://fonts.googleapis.com/css?family=Playball" rel="stylesheet">


<title>Submitted Registry</title>

<div>
<h1>Just Like Home</h1>
<ul>
  <li><a class="active" href="/home">Home</a></li>
  <li><a href="/newregistry">Add/Create Registry</a></li>
  <li><a href="/view">View Registry</a></li>
  <li><a href="/aboutus">About Us</a></li>
</ul>

<img id= "logo" src="resources/logo.png">

<h1>Thank You for Your Submission</h1>

<body>
	<iframe id="giffy" src="https://giphy.com/embed/3o6Zt3OhbsQ5VLPmBW" width="480" height="338" frameBorder="0"></iframe>
	<br></br>
	</body>
	<div class="buttonholder">
	<button id="add"><a href="/newregistry" style="text-decoration: none">Add More</a></button>
	<button id="view"><a href="/view" style="text-decoration: none">View List</a></button>

	</div>

