<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link href="https://fonts.googleapis.com/css?family=Playball" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="resources/style.css">
</head>
<body>
<div class="bckgrd">

<br><br>
<button id="btn2"><a href="{{ html_login }}" style="text-decoration: none">Login   </button>
<button id="btn"><a href="/userstu" style="text-decoration: none">Create User</a></button>
</div>
<h1></h1>
{{ home }}
<h2><a href="/home" style="text-decoration: none">Just Like Home</h2>
<!-- <ul>
  <li id='cntr'><a href="/home">Just Like Home</a></li>
</ul> -->
<img id="logo" src="resources/logo.png">

</body>
</html>